.s-media
  &._overlay
    cursor pointer
    .s-media__inner
      &:after
        content ''
        abs()
        background rgba(31, 31, 31, 0.43);
  &__inner
    display block
    padding-top 56.25%
    position relative
    overflow hidden
    cursor pointer
    color $bg-color-red
    trc()
    &:hover
      color $bg-hover-red
    &._mobile-hide
      img, svg, &:after 
        display none  
      iframe 
        z-index 2  
    img 
      abs()
      object-fit cover
    svg 
      width 82px
      height 82px 
      position absolute
      top 0
      bottom 0
      left 0
      right 0 
      margin auto
      z-index 1
      