mixin s-media(o = {})

  +b.DIV.s-media(class = o.className || '')
    +e.inner(data-open-modal='modal-default' data-yt-src='https://www.youtube.com/embed/'+o.yt onclick='handler("'+o.yt+'")')
      img(src=o.img alt='bg image')
      +svg({name: 'play'})
