.contact-cta-block
  padding 80px 0
  margin-bottom 0 !important
  .contact-cta-inner
    justify-content space-between
  .contact-cta-text-wrapper
    max-width: 520px
  .contact-cta-form-wrapper
    max-width: 558px
  .contact-cta-title
    font-size: 60px !important
.custom-form
  .gform_fields
    grid-row-gap 18px !important
  .gfield
    position relative
    label, 
    legend
      position absolute
      top 7px
      left 15px
      pointer-events: none
      tro()
    &._changed 
      label, 
      legend
        opacity 0
    input, textarea  
      font-size: 16px !important
      padding 6px 15px !important
    textarea  
      min-block-size 117px !important
    .gfield_required_text 
      margin-left -5px
      font-size: 0
      &:before
        content '*'
        font-size: 16px
        color $text-color-base 
  .contact-privacy-note
    text-align center
    a
      color #007FE2
      tro()
      &:hover
        opacity .75

+media-mobile(639px)
  .contact-cta-block
    padding 70px 0
    .contact-cta-inner
      gap 20px
    .contact-cta-title
      font-size: 50px !important
  .custom-form    
    .contact-privacy-note
      text-align left    