.gb-button
.wp-block-button__link 
.wp-element-button
  height: 46px;
  padding 0 12px !important
  border-radius: 5px;
  background: $bg-color-red
  color $text-color-white
  display inline-flex !important
  align-items center
  justify-content center
  font-size: 18px !important
  font-weight 700 
  text-transform uppercase
  trbg()
  &:hover 
    background $bg-hover-red
  &.b-white, 
  .b-white &
    background: $bg-color-white !important
    color $text-color-dark !important
    &:hover 
      background $bg-hover-blue !important
.wp-block-button__link 
.wp-element-button   
  min-width 154px   
  .is-style-button-medium &
    min-width 192px 
  .is-style-button-large &
    min-width 292px   
  .is-style-button-form &,
  .is-style-button-from &
    width 558px  
    max-width 100%  
.Default  
  min-width 154px
.b-medium
  min-width 192px
.b-large
  min-width 292px
.b-form
  width 558px  
  max-width 100%
