.gb-button,
.wp-block-button__link,
.wp-element-button,
.custom-form .gform_button
  height: 46px !important
  padding 0 16px !important
  border-radius: 5px !important
  background-color: $bg-color-red !important
  color $text-color-white !important
  display inline-flex !important
  align-items center !important
  justify-content center !important
  font-size: 18px !important
  font-weight 700 !important
  text-transform uppercase !important
  white-space: nowrap 
  flex-shrink: 0 !important
  transition: background-color .2s ease-out !important
  &:hover 
    background-color $bg-hover-red !important
  &.b-white, 
  .b-white &
    background-color $bg-color-white !important
    color $text-color-dark !important
    &:hover 
      background-color $bg-hover-blue !important
.wp-block-button__link 
.wp-element-button   
  min-width 154px   
  .is-style-button-medium &
    min-width 192px 
  .is-style-button-large &
    min-width 292px   
  .is-style-button-form &,
  .is-style-button-from &
    width 558px  
    max-width 100%  
.Default  
  min-width 154px
.b-medium
  min-width 192px
.b-large
  min-width 292px
.b-form,
.custom-form .gform_button  
  width 100% !important
  max-width 100% !important
.gb-button
  cursor pointer
  