.btn
  min-width 160px
  height 46px
  padding 24px
  display flex
  align-items center
  justify-content center
  trbgbc()
  border 1px solid transparent
  border-radius 23px
  &._primary
    background #F15A22
    border-color #F15A22
    color #fff
    font-size 16px
    font-weight 600
    &:hover 
      color #131313
      background #FAA61A
      border-color #FAA61A
  &._secondary
    color #F15A22
    background #fff
    border-color #F15A22
    font-size 16px
    font-weight 600
    &:hover 
      color #131313
      background #FAA61A
      border-color #FAA61A   