.block-photo-text 
  padding 50px 0
  &._text-left
    .photo-text-inner
      justify-content start
    .block-image
      left auto
      right 0
  &._img-above  
    .block-image
      z-index 1
    .block-content
      z-index 0
      padding-left 11%
    &._text-left  
      .block-content
        z-index 0
        padding-left 35px
        padding-right 11%
  &._img-align-top   
    .block-image
      figure
        align-items start
  .photo-text-inner
    position relative
    justify-content end
    padding 48px 0      
  .block-image
    width 46%
    height 100%
    position absolute
    top 0
    left 0
    figure
      height 100% 
      display flex
      align-items center
      justify-content center
    img 
      width 100%
      max-height: 100%
      object-fit: cover
  .block-content
    width 62%
    padding 35px 35px 45px
    background: $bg-color-blue
    position relative
    z-index 1
  h2
    font-size: 40px 
    line-height 1.11
    margin-bottom 15px

+media-tablet(900px)    
  .block-photo-text 
    padding-bottom 0
    &._mobile-img-bottom
      padding-bottom 50px
      .block-image
        order 3
        margin-top -220px
        z-index 1
      .block-content
        padding-bottom 260px !important
        margin-top 0 !important
    .photo-text-inner
      padding 0
      flex-wrap: wrap
    .block-image
      width 700px
      max-width: 100%
      margin 0 auto
      min-width 0  
      position static
    .block-content
      width auto
      padding 50px 40px 78px !important  
      margin: -8% -60px 0 !important

+media-mobile(768px)
  .block-photo-text 
    .block-content
      margin: -8% -40px 0 !important 

+media-mobile(600px)
  .block-photo-text 
    .block-content
      margin: -8% -30px 0 !important 
      padding 50px 30px 78px !important
    h2
      font-size: 35px 