.CTA-banner-block
  padding 40px 0 55px
.CTA-banner-inner
  position relative
  justify-content space-between
.CTA-banner-inner-text  
  width 60%
  h1, h2, h3, p
    padding-left 25px
  h1, h2, h3 
    border-left 4px solid $bg-color-red
  p
    margin-bottom 34px
  .gb-button
    margin-left 25px  
    font-size: 23px !important
    &:before
      content: ''
      background-image: url(../images/icons/phone.svg)
      background-repeat: no-repeat
      background-size: contain
      width 22px
      height 22px
      margin-right 5px
.CTA-banner-background
  background-image: url(../images/bg/statute.svg) !important
  background-repeat: no-repeat
  background-size: contain !important
  width 296px
  max-width: 40%
  height 262px
  max-height 100%

+media-mobile(600px)  
  .CTA-banner-block
    padding: 80px 0 80px
  .CTA-banner-inner-text  
    width 100%
    h1, h2
      padding-left 16px
    h1, h2
      margin-bottom 20px
      border-left-width: 7px
    p
      margin-bottom 70px
      padding-left 20px
    .gb-button
      margin-left 0
  .CTA-banner-background
    display none  