.logo-block
  padding-top 40px
  .logo-block-inner
    column-gap: 15px
  .wp-block-heading
    font-size: 40px
    margin-bottom 40px
  img 
    max-width: 96px
  .logo-top-100
    img 
      max-width 82px
  .logo-asla
    img 
      max-width 87px  
  .logo-aba
  .logo-aaj
  .logo-aaj-leaders-forum
    img 
      max-width 118px  

+media-desktop(1080px)
  .logo-block
    .logo-block-inner
      flex-wrap: wrap
      column-gap: 0
      row-gap: 10px
    .logo-wrapper 
      flex-basis: 33.33333%
    img 
      margin 0 auto

+media-desktop(600px)
  .logo-block
    .wp-block-heading
      font-size: 35px
      margin-bottom 20px
    .logo-block-inner
      margin: 0 -20px