.resource-listing
  margin-bottom 0 !important
  >.wp-block-columns
    gap 40px
    padding-top 100px !important
    padding-bottom 100px !important
    justify-content space-between
    .wp-block-column
      &:first-child
        max-width: 385px 
      &:last-child
        max-width: 740px
  + .resource-listing
    > .wp-block-columns
      border-top: 1px solid $text-color-red
  &._rows
    padding 66px 0
    h3
      font-size: 35px
      color $text-color-red  
      margin-bottom 60px 
    .resource-item 
      column-gap: 0
      width auto
      h4 
        line-height: 0
        a
          font-size: 16px
          font-family: "Open Sans", sans-serif
          font-weight 700
          line-height 1.3
      .gb-headline-text
        text-decoration underline 1px
        text-underline-offset: 2px
      div.gb-headline-text
        font-size: 16px
        position relative
        a
          font-size: 0
          position absolute
          left 0
          top 0
          width 100%
          height 100%  
    .resource-image-wrapper  
      width auto      
      figure
        padding-right 30px
      img
        width 249px
        height 132px
        object-fit: cover
        max-width: none

.resource-category-wrapper
  h3
    font-size: 35px
    color $text-color-red  
    margin-bottom 30px  
  .resource-category-image
    margin-bottom 26px
    img
      height: 187px
      width: auto
      object-fit: cover
.resource-articles-wrapper
  row-gap 30px !important
  margin-left -35px !important
  .gb-grid-column
    padding-left 35px !important
.resource-article
  padding: 28px 25px 24px !important
  h3
    font-size: 25px 
    margin-bottom 12px
    text-transform uppercase
    text-decoration underline 1px
    text-underline-offset: 2px  
  a
    font-size: 16px
    color $text-color-red
    font-weight 700
    text-transform uppercase
    text-decoration underline 1px
    text-underline-offset: 2px  
  p
    height 154px  
    overflow: hidden 

+media-tablet()  
  .resource-articles-wrapper
    .gb-grid-column
      padding-left 20px !important

+media-tablet(781px)  
  .resource-listing
    >.wp-block-columns
      gap 10px
      .wp-block-column
        &:first-child
          max-width: 100% 
  .resource-articles-wrapper
    margin-left -20px !important       

+media-mobile(600px)     
  .resource-listing._rows
    padding-top 30px
    h3
      margin-bottom 40px
    .resource-item 
      display block
      figure
        padding 0 0 20px
      img
        width 100%
        height 178px
      
  .resource-articles-wrapper
    margin-left 0 !important   
    .gb-grid-column
      padding-left 0 !important
      width 100% !important
  .resource-article    
    p
      height auto  
