.video-list-block
  padding 100px 0
  margin 0 !important
  .wp-block-columns
    column-gap 42px
  h2
    margin-bottom 4px
  p
    line-height: normal
    margin-bottom 32px
  &+&
    border-top 1px solid $text-color-red    

+media-mobile()
  .video-list-block
    padding 60px 0    
    
