/*
a => link
b => block
btn => button
f => form
i => etc graphic
l => list
m => menu
modal => modal window
pr => block preview
s => section
sl => slider
svg => svg graphic
t => table
*/

@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Open+Sans:wght@300..800&display=swap');
@import 'settings/variables'
@import 'settings/optimize'
@import 'settings/mixins'
@import 'settings/default'
@import 'settings/helpers'
@import 'vendors/slick'
@import 'etc/_set'
@import '../../comp-wp/**/*'
@import '../../components/**/*'
