.back-to-top-inner
  padding 30px 0 10px
  display flex
  justify-content center
  p
    font-size: 19px
    font-weight 700
    display inline-flex
    align-items baseline
    color $text-color-white
    cursor pointer
    &:after
      content ''
      display block
      width: 36px;
      height: 14px;
      flex-shrink: 0;
      background-size: 60%
      background-repeat: no-repeat
      background-position: center
      background-image: url('../images/icons/angle-top.svg')
      margin-left 4px

.footer-widgets, .site-info
  a 
    tro()
    color: #ffffff !important
    &:hover
      color: #ffffff !important
      opacity .8

  .widget-title 
    font-family: 'Open sans', sans-serif
    font-weight 700
    text-transform uppercase
    font-size: 16px
    margin-bottom 8px 
  .footer-widgets-container 
    padding-bottom 94px  
.footer-widget-1 
  min-width: 30%
  position relative
  z-index 1
  .wp-block-image
    margin-bottom 50px
  .wp-block-search__inside-wrapper  
    width 110%
    max-width: 110%
  .wp-block-search__input
    border-radius: 5px 0 0 5px;
    background: #FFF !important
    height 35px
    border: 0
    color $text-color-base !important
    width 110%
  .wp-block-search__button 
    margin-left: 0
    border-radius: 0 5px 5px 0;
    background-color: $bg-color-red
    width: 41px;
    height: 35px !important;
    flex-shrink: 0;
    font-size: 0 !important
    min-width 0
    background-size: 55%
    background-repeat: no-repeat
    background-position: center
    background-image: url('../images/icons/search.svg')
    trbg()
    &:hover 
      background-color: $bg-hover
.footer-social-title
  font-weight 700
  text-transform uppercase    
.social-icon-wrapper
  display: grid;
  grid-template-columns: repeat(3, 41px);
  column-gap: 10px;
  row-gap: 14px;
  a
    display: block;
    flex-shrink: 0;
    width: 41px;
    height: 41px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-color: $bg-color-black
    trbg()
    border: none;
    &:hover {
      background-color: $bg-hover
      opacity 1
    }
    &.facebook {
      background-image: url('../images/icons/fb.svg');
    }
    &.instagram {
      background-image: url('../images/icons/inst.svg');
    }
    &.youtube {
      background-image: url('../images/icons/yt.svg');
    }
    &.tiktok {
      background-image: url('../images/icons/tiktok.svg');
    }
    &.x {
      background-image: url('../images/icons/x.svg');
    }
    &.linkedin {
      background-image: url('../images/icons/in.svg');
    }
.footer-widget-4 
  .widget
    margin-bottom 44px !important
  .footer-social-title 
    margin-bottom 15px
.site-info
  .inside-site-info 
    justify-content start
    align-items: baseline
  .copyright-bar
    margin-right 20px !important

+media-mobile(768px)
  .footer-widgets
    .footer-widgets-container 
      padding-bottom 55px
  .footer-widget-1 
    .wp-block-search__inside-wrapper  
      width 100%
  .site-info
    *
      font-size: 13px
  .copyright-bar
    width 100%
    margin 0 0 5px !important  
    order -1 !important  
