include mixins/a.pug
include mixins/blocks.pug
include mixins/buttons.pug
include mixins/forms.pug
include mixins/lists.pug
include mixins/menus.pug
include mixins/modals.pug
include mixins/previews.pug
include mixins/sections.pug
include mixins/sliders.pug
include mixins/tables.pug
include mixins/etc.pug