.sl-attorneys
  padding 70px 0 90px
  text-align center
  &__title
    margin-bottom 10px
  &__text
    max-width: 720px
    margin 0 auto 40px 
  &__inner
    max-width: 1010px
    padding: 0 65px
    position relative
    margin 0 auto 50px
    svg
      fill none
  &__prev
  &__next    
    position absolute
    top 70px
  &__prev
    left 0     
  &__next  
    right 0  
  &__item
    padding 0 10px
    img
      width 100%
      height 100%
      object-fit: cover
      border-radius: 50%
      max-width: 186px
      margin 0 auto 24px
    &-title
      color $text-color-red  
      text-decoration: underline
      text-decoration-thickness 1px
      text-underline-offset 2px
      trc()
      &:hover
        color $bg-hover-red

+media-tablet()
  .sl-attorneys
    padding 60px 0 80px
    &__inner
      margin 0 auto 40px
   
+media-mobile()
  .sl-attorneys
    padding 50px 0 70px
    &__inner
      margin 0 auto 30px
      
