html 
  font-size 16px
  scroll-behavior: smooth;
  &._scroll-unset
    scroll-behavior: unset;

html, body
  max-width 100%

body  
  overflow-x: hidden
  color $text-color-base
  font-size 16px
  font-weight 400
  height: fit-content
  *
    defaultFontFamily()
  a 
    text-decoration: none
  p, td 
    a  
      color $link-color 
      tro()
      &:hover
        color $link-color 
        opacity .75
  .light-blue
    color $text-color-blue    


  h1, h2, h3, h4, h5, h6 
    titleFontFamily()
    line-height 1.11
    *
      titleFontFamily()
      
  h1, h2 
    font-size: 60px  
    &.header-small
      text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.14);
      font-size: 35px
    &.header-large
      text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.14);
      font-size: 86px;
      line-height 1.05
  h3 
    font-size: 40px

  h4 
    font-size: 35px  

  h5 
    font-size: 25px

  p, h2, h3, h4 
    &.headline-kicker
      titleFontFamily()  
      color $text-color-red 
      font-size: 25px
      text-transform uppercase
      line-height 1.11
      margin-bottom 6px

+media-tablet()  
  body
    h1, h2  
      font-size: 50px
      &.header-small
        font-size: 25px
      &.header-large
        font-size: 60px;

+media-mobile() 
  body
    h1, h2 
      &.header-large
        font-size: 45px;
      