html 
  font-size 16px
  scroll-behavior: smooth;
  &._scroll-unset
    scroll-behavior: unset;

html, body
  max-width 100%

body  
  overflow-x: hidden
  color $text-color-base
  font-size 16px
  font-weight 400
  *
    defaultFontFamily()

  h1,h2,h3,h4,h5,h6 
    titleFontFamily()

h1 
  font-size: 60px

h2 
  font-size: 60px  

h3 
  font-size: 40px

h4 
  font-size: 35px  

h5 
  font-size: 25px

+media-mobile()  
  h1 
    font-size: 50px

  h2 
    font-size: 50px  