.container
  margin 0 auto
  width 100%
  max-width 1360px

.gb-container.full-width, section.is-style-full-width, .wp-block-cover.is-style-full-width
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw !important;
    margin-right: -50vw !important;

.gb-container.full-width > .gb-container, .gb-container.full-width > .wp-block-columns
  max-width: $container-max-width
  margin: 0px auto
  padding-left $container-padding-desktop
  padding-right $container-padding-desktop

+media-tablet(1024px)
  .gb-container.full-width > .gb-container, .gb-container.full-width > .wp-block-columns
    padding-left $container-padding-tablet
    padding-right $container-padding-tablet

+media-mobile(600px)
  .gb-container.full-width > .gb-container, .gb-container.full-width > .wp-block-columns
    padding-left $container-padding-mobile
    padding-right $container-padding-mobile