.container
  margin 0 auto
  width 100%
  max-width 1190px

._mobile
  display none

.breadcrumb-wrapper 
  span
    font-weight 700
    a
      text-decoration underline
    &.breadcrumb_last
      font-weight 400  

.container.grid-container .site-content main article .inside-article section.gb-container
  margin-bottom 60px

.grid-container.container
  max-width: $container-max-width    

.gb-container.full-width, section.is-style-full-width, .wp-block-cover.is-style-full-width
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw !important;
    margin-right: -50vw !important;

.gb-container.full-width > .gb-container, .gb-container.full-width > .wp-block-columns
  max-width: $container-max-width
  margin: 0px auto
  padding-left $container-padding-desktop
  padding-right $container-padding-desktop

section.gb-container > .gb-container.inside-padding, 
section.gb-container > .wp-block-group.inside-padding,
section.gb-container > .wp-block-columns.inside-padding,
section.gb-container.text-block-container > .wp-block-group
  padding-top $container-padding-desktop
  padding-bottom $container-padding-desktop

section.gb-container > .gb-container.inside-padding > p:last-child,
section.gb-container > .wp-block-group.inside-padding > .wp-block-group__inner-container > p:last-child,
section.gb-container.text-block-container > .wp-block-group > .wp-block-group__inner-container > p:last-child
  margin-bottom: 5px;

.no-margin-bottom
  margin-bottom: 0px !important;
   
.no-padding-bottom
  padding-bottom: 0px !important;
    
+media-tablet()
  .gb-container.full-width > .gb-container, 
  .gb-container.full-width > .wp-block-columns,
  .one-container .site-content
    padding-left $container-padding-tablet !important
    padding-right $container-padding-tablet !important
    
  section.gb-container > .gb-container.inside-padding, 
  section.gb-container > .wp-block-group.inside-padding,
  section.gb-container > .wp-block-columns.inside-padding,
  section.gb-container.text-block-container > .wp-block-group,
    padding-top $container-padding-tablet
    padding-bottom $container-padding-tablet

+media-mobile(768px)
  .one-container .site-content
    padding-top: 0 !important;

+media-mobile()
  ._mobile
    display block
  ._desktop
    display none !important

+media-mobile(600px)
  .container.grid-container .site-content main article .inside-article section.gb-container
    margin-bottom 40px
      
  .gb-container.full-width > .gb-container, 
  .gb-container.full-width > .wp-block-columns,
  .one-container .site-content
    padding-left $container-padding-mobile !important
    padding-right $container-padding-mobile !important

  section.gb-container > .gb-container.inside-padding,
  section.gb-container > .wp-block-group.inside-padding,
  section.gb-container > .wp-block-columns.inside-padding,
  section.gb-container.text-block-container > .wp-block-group
    padding-top $container-padding-mobile
    padding-bottom $container-padding-mobile
