html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
img,
strong,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
header,
footer,
section,
aside,
figure,
figcaption,
input
  margin 0
  padding 0
  outline none
  border none
  background transparent
  vertical-align baseline
  font-size 100%

ol,
ul
  list-style none

table
  border-spacing 0
  border-collapse collapse

input[type=button],
input[type=submit],
button
  cursor pointer

button
  overflow visible
  border none
  background transparent

:focus
  outline none

button::-moz-focus-inner,
input[type='reset']::-moz-focus-inner,
input[type='button']::-moz-focus-inner,
input[type='submit']::-moz-focus-inner,
input[type='submit']::-moz-focus-inner,
input[type='file'] > input[type='button']::-moz-focus-inner
  outline none
  border none

input::-ms-clear
  width 0
  height 0

// 1. Disable resize.
// 2. Allow user select.
input,
textarea
  resize none // 1
  user-select text

// 2
::-ms-clear
  display none
  width 0
  height 0

// @stylint off
::-ms-reveal
  display none
  width 0
  height 0

// @stylint on
a
  text-decoration none

// 1. Remove `border-radius` in iOS.
// 2. Remove `box-shadow` in iOS.
input,
select,
textarea
  border-radius 0 // 1
  box-shadow none

// 2
:disabled,
[disabled],
[aria-disabled='true']
  cursor not-allowed

video
  background-position center
  background-size cover

img
  display block

textarea
  overflow-y auto
  background transparent

input,
textarea,
select,
button
  border-radius 0
  -webkit-appearance none

[type='reset']
  cursor pointer

// 1. Prevent iOS text size adjust after orientation change, without disabling user zoom.
// 2. Remove highlite on mobile devices.
html,
body
  height 100%
  -moz-osx-font-smoothing grayscale
  -ms-text-size-adjust 100% // 1
  -webkit-focus-ring-color rgba(255, 255, 255, 0)
  -webkit-font-smoothing antialiased
  -webkit-overflow-scrolling touch
  -webkit-tap-highlight-color rgba(0, 0, 0, 0) // 2
  -webkit-text-size-adjust 100% // 1

// 2
*,
*:before,
*:after
  box-sizing border-box
