/**
 * Font family
 */

defaultFontFamily()
  font-family: "Open Sans", sans-serif
  font-optical-sizing: auto;
  font-style: normal;

titleFontFamily()
  font-family: "Koulen", sans-serif
  font-weight: 400;
  font-style: normal;


/**
 * Wrapper, container sizes
 */

$container-padding-desktop = 60px
$container-padding-tablet = 40px
$container-padding-mobile = 30px
$container-max-width = 1290px

/**
 * Colors
 */

$white =  #FFF
$black = #000
$red = #A21D21
$grey = #3E3E3E
$blue = #BCDCEB
$dark = #333
$orange = #F7CA4B
 
$bg-hover = #CE4C50
$bg-hover-red = #CE4C50
$bg-hover-blue = $blue

// text colors
$text-color-base = $grey
$text-color-white = $white
$text-color-black = $black
$text-color-red = $red
$text-color-blue = $blue
$text-color-dark = $dark
$text-color-orange = $orange

// background colors
$bg-color-base = $grey
$bg-color-white = $white
$bg-color-black = $black
$bg-color-red = $red
$bg-color-blue = $blue
$bg-color-dark = $dark
$bg-color-orange = $orange

// buttons colors
$btn-color-base = $wite
$btn-color-dark = $dark
$btn-bg-base = $red

/**
 * Broken image style
 */
$broken-image-color = #646464
$broken-image-background-color = #e6e6e6
$broken-image-border = 2px dotted #c8c8c8
$broken-image-border-radius = 5px

/**
 * Font weights
 */
$font-weight-light = 300
$font-weight-regular = 400
$font-weight-medium = 500
$font-weight-semibold = 600
$font-weight-bold = 700


/**
 * Font style
 */
$font-style-normal = normal
$font-style-italic = italic


/**
 * Border radius
 */
$border-radius-default = .6rem


/**
 * Media queries
 */
media-desktop($screen = 1920px)
  @media screen and (max-width: $screen)
    {block}

media-desktop-min($screen = 1500px)
  @media screen and (min-width: $screen)
    {block}

media-tablet($screen = 1024px)
  @media screen and (max-width: $screen)
    {block}

media-mobile($screen = 767px)
  @media screen and (max-width: $screen)
    {block}
