.inside-header
  column-gap: 20px
.inside-header
  padding-top 10px !important
  padding-bottom 10px !important
.header-top-inner-wrapper  
  display flex
  align-items center
  column-gap: 20px
  flex-basis: 800px
  color: #3E3E3E;
  flex-grow: 1
.header-inner-tag  
  max-width: 480px
  text-align center
  margin 0 auto
  font-size: 23px
  font-weight 600
  p 
    margin-bottom 0
.header-button-group
  .call-us-title
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    text-transform uppercase
    margin-bottom 0
  .gb-button
    display inline-flex
    justify-content center
    align-items center
    width: 200px;
    height: 46px;
    border-radius: 5px;
    background: $bg-color-red;  
    font-family: "Open Sans";
    font-size: 23px;
    font-weight: 700;
    padding 0
  .gb-container-4165ac99  
    font-size: 14px;
    font-weight: 600;
    p
      margin-bottom 0
  .header-language  
    text-transform uppercase
    margin-left auto

+media-tablet()
  .inside-header
    position absolute
    left 0
    top 0
    z-index 1
    height 90px
    padding-left 20px !important
    flex-direction: row !important
  .site-logo
    img
      width: 223px !important
  .header-top-inner-wrapper      
    display none
