.site-header  
  .inside-header
    column-gap: 20px
    padding 10px 20px
    max-width: 1286px
.header-top-inner-wrapper  
  display flex
  align-items center
  column-gap: 20px
  flex-basis: 800px
  color: #3E3E3E;
  flex-grow: 1
.header-inner-tag  
  max-width: 480px
  text-align center
  margin 0 auto
  font-size: 23px
  font-weight 600
  p 
    margin-bottom 0
.header-button-group
  font-size: 14px;
  font-weight: 600;
  a
    text-decoration underline
    color $text-color-base !important
    tro()
    &:hover
      opacity: .75
  p
    margin-bottom 0
  .call-us-title
    text-align: center
    text-transform uppercase
  .gb-button
    width: 200px
    font-size: 23px !important
    padding-bottom 2px !important
  .header-language  
    text-transform uppercase
    margin-left auto

+media-desktop(1275px)   
  .header-top-inner-wrapper  
    flex-basis: auto
  .inside-header
    position absolute
    left 0
    top 0
    z-index 1
    height 90px
    padding-left 20px !important
    flex-direction: row !important
  .site-logo
    flex-shrink: 0
    width: 223px
    max-width: 60% !important
    margin: 0 20px 0 0 !important
    img
      width: 100% !important
      height auto !important
  .header-inner-tag   
    display none
  .header-button-group
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0 20px 20px;
    background: $bg-color-white
    width: 100vw;
    opacity 0
    pointer-events: none
    z-index -1
    text-align: left;
    tro()
    a 
      display inline !important
      font-size: 16px !important
      font-weight: 600 !important
      line-height: normal !important
      text-decoration-line: underline !important
    .mobile-menu-open &
      opacity 1
      pointer-events: all
      z-index 3
    .gb-button
      width 100%  
      margin 6px 0 14px
    .gb-container-4165ac99  
      display block
    .header-language 
      margin-top 10px 



