.s-testimonials
  padding 130px 0 170px
  background $bg-color-black
  color $text-color-white
  ._blue
    color: $text-color-blue
  ._orange
    color: $text-color-orange 
  &__top
    display flex
    align-items start
    justify-content space-between
  &__info 
    max-width 478px  
  &__list
    display flex
    padding 22px 0
  &__item
    padding 0 28px  
    max-width: 230px
    display flex
    align-items center
    &:not(:first-child)
      border-left: 2px solid $bg-color-blue

+media-tablet()
  .s-testimonials
    &__top
      display block
    &__item
      &:first-child
        padding-left 0

+media-mobile(600px)
  .s-testimonials  
    padding 80px 0
    &__list
      display block
    &__item     
      padding 40px 0
      max-width: 100%
      &:first-child
        padding-top 20px
      &:not(:first-child)
        border-left 0
        border-top: 2px solid $bg-color-blue
   
