.s-testimonials
  padding 130px 0 170px
  background $bg-color-black
  color $text-color-white
  ._blue
    color: $text-color-blue
  ._orange
    color: $text-color-orange 
  &__top
    display flex
    align-items start
    justify-content space-between
  &__info 
    max-width 478px  
  &__list
    display flex
    padding 22px 0
  &__item
    padding 0 28px  
    max-width: 230px
    display flex
    align-items center
    &:not(:first-child)
      border-left: 2px solid $bg-color-blue
