.s-tiles
  padding 0px 0 130px
  &__top
    margin-bottom 32px
    display flex
    justify-content space-between
    align-items end
    button, a
      margin-bottom 12px
  &__title
    max-width: 766px
    margin-right 20px
    margin-bottom 0px
  &__list
    display grid
    grid-template-columns: repeat(4, 1fr)
    column-gap: 22px
    row-gap: 22px
    &.three-col
      grid-template-columns: repeat(3, 1fr)
  &__item
    display block
    text-decoration none
    &:hover
      .s-tiles__item-hover
        opacity 1
    &-inner
      height 279px  
      padding 48px 28px 36px
      cursor pointer
      position relative
      &:before   
        content '';
        background: rgba(0, 0, 0, 0.65);
        z-index 1
        position absolute
        display block
        left 0
        top 0
        width 100%
        height 100%
        object-fit: cover 
      ._include-description &
        height 216px  
    &-img
    &-hover     
      position absolute
      display block
      left 0
      top 0
      width 100%
      height 100%
      object-fit: cover 
    &-info
      height 100%
      position relative
      z-index 2  
      display flex
      flex-direction: column
      justify-content space-between
      ._include-description &
        flex-direction: row
        align-items: end
      svg
        margin-left auto
        fill none
    &-title
      color $text-color-white
      text-decoration: underline
      text-decoration-thickness 1px
      text-underline-offset 2px
      margin-bottom 0
    &-hover  
      opacity 0
      background: $bg-color-red
      tro(.3s)
      z-index 1
    &-description
      border: 1px solid #D9D9D9;
      background: #F7F7F7;  
      padding 20px
      min-height: 138px

+media-tablet()
  .s-tiles
    &__list
      grid-template-columns: repeat(3, 1fr)

+media-mobile(900px)
  .s-tiles
    &__list
      grid-template-columns: repeat(2, 1fr) !important

+media-mobile()
  .s-tiles
    padding-bottom 50px
    +.wp-block-button._mobile  
      margin-bottom 130px
      text-align center      

+media-mobile(600px)
  .s-tiles
    &__title
      margin-right 0
    &__list
      grid-template-columns: repeat(1, 1fr) !important
    &__item
      &-inner
        height 286px    
