mixin s-tiles(o = {})

  +b.SECTION.s-tiles
    +e.top
      +e.H2.title  Our Lawyers Represent the Injured in a Wide Range of Cases
      +e.btn-wrapper
        button.gb-button.Default VIEW ALL PRACTICE AREAS

    +e.list
      each item in sTiles.list
        +e.A.item(href='#')
          +e.IMG.item-img(src=item.img alt='tile image')
          +e.DIV.item-hover
          +e.DIV.item-info
            +e.H4.item-title !{item.title}
            +svg({name: 'b-angle-wr'})
